.u-section-1 .u-sheet-1 {
  min-height: 915px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 7px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 673px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 542px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 46.37% 50%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 648px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-11 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-12 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-13 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-14 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-15 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 555px;
  }

  .u-section-1 .u-image-1 {
    height: 436px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 534px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-1 .u-image-1 {
    height: 319px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1492px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 98px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 638px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 553px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1331px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 879px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 12px 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 675px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-11 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-12 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-13 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 675px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 542px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 557px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-2 .u-image-1 {
    height: 436px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-2 .u-image-1 {
    height: 319px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 98px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 641px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 553px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 915px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 1px 0 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 672px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 542px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 672px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 21px 154px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 127px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 79px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-11 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-12 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-13 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 554px;
  }

  .u-section-3 .u-image-1 {
    height: 436px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 92px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 65px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 424px;
  }

  .u-section-3 .u-image-1 {
    height: 319px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 98px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 636px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 553px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-3 .u-image-1 {
    height: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 938px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 12px 0 58px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 727px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-11 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-12 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-13 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 675px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 542px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-4 .u-image-1 {
    height: 436px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-4 .u-image-1 {
    height: 319px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1548px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 98px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 641px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 553px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-4 .u-image-1 {
    height: 340px;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 929px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 1px 0 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 672px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 542px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 672px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 21px 135px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 127px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-7 {
  margin: 20px 79px 0 0;
}

.u-section-5 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-11 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-12 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-13 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 554px;
  }

  .u-section-5 .u-image-1 {
    height: 436px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 92px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 65px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 424px;
  }

  .u-section-5 .u-image-1 {
    height: 319px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 636px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 553px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-5 .u-image-1 {
    height: 340px;
  }
}
/* Estilo específico para los paninis dentro del #product-list */
#product-list .panini-item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

#product-list .panini-item h3 {
  font-size: 1.2em;
  font-weight: bold;
}

#product-list .panini-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#product-list .panini-item p {
  font-size: 1em;
  color: #555;
}
.panini-item img {
  width: 100%;
  max-width: 100px; /* Tamaño máximo aún más pequeño */
  height: auto;
  object-fit: cover;
}

